@charset "UTF-8";

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Hina Mincho', serif;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* ヘッダー */
.header {
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
    margin-bottom: 60px;
}

.header__img__wrapper {
    width: 66%;
    height: 600px;
    position: absolute;
    right: 0;
    overflow: hidden;
}

.header__img__wrapper img {
    position: absolute;
    object-fit: cover;
    height: 100%;
    z-index: -1;
    opacity: 0;
}

.img1 {
    animation: slideshow 15s infinite;
    /* z-index: 12; */
}

.img2 {
    animation: slideshow 15s infinite;
    animation-delay: 5s;
    /* z-index: 11; */
}

.img3 {
    animation: slideshow 15s infinite;
    animation-delay: 10s;
    /* z-index: 10; */
}


@keyframes slideshow {
    0% {
        opacity: 0;
        transform: scale(1);
    }

    15% {
        opacity: 1;
    }

    35% {
        opacity: 1;
    }

    45% {
        opacity: 0;
        transform: scale(1.1);
    }

    100% {
        opacity: 0;
    }
}

.header__triangle {
    position: absolute;
    top: 0;
    right: 53%;
    width: 200px;
    height: 700px;
    clip-path: polygon(0 0, 0 100%, 100% 0);
    background: rgb(255, 255, 255);
}

.header__text__body {
    position: absolute;
    top: 20%;
    left: 4%;
    z-index: 20;
    text-align: center;
}

.header__title {
    font-size: 132px;
    font-family: 'Yuji Boku', serif;
    text-shadow: 3px 3px 0 #FFF, -3px -3px 0 #FFF,
        -3px 3px 0 #FFF, 3px -3px 0 #FFF,
        0px 3px 0 #FFF, 0 -3px 0 #FFF,
        -3px 0 0 #FFF, 3px 0 0 #FFF;
}

.header__title__sub {
    font-size: 36px;
    font-family: 'Kaisei Opti', serif;
    text-shadow: 2px 2px 0 #FFF, -2px -2px 0 #FFF,
        -2px 2px 0 #FFF, 2px -2px 0 #FFF,
        0px 2px 0 #FFF, 0 -2px 0 #FFF,
        -2px 0 0 #FFF, 2px 0 0 #FFF;
}

.header__new__btn {
    background: rgb(255, 153, 0);
    width: 300px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    border: 5px solid rgb(255, 255, 255);
    text-align: center;
    position: absolute;
    top: 80%;
    left: 11%;
    z-index: 20;
    padding: 4px 10px;
    font-family: 'Kaisei Opti', serif;
}

.header__new__btn:hover {
    background: rgb(255, 255, 255);
    border: 5px solid rgb(255, 153, 0);
    color: rgb(255, 153, 0);
}

/* インナー */
.inner {
    width: 90%;
    margin: 0 auto;
}

/* アバウト */
.about {
    width: 100%;
    margin-bottom: 40px;
}

.about__title__wrapper {
    text-align: center;
}

.about__title {
    font-size: 48px;
    text-align: center;
    margin-bottom: 40px;
    display: inline-block;
    line-height: 48px;
    border-bottom: 4px solid #000;
    font-family: 'Kaisei Opti', serif;
}

.about__card {
    display: flex;
    justify-content: center;
}

.about__img__wrapper {
    width: 40%;
}

.about__img__wrapper img {
    object-fit: cover;
}


.about__text__body {
    width: 70%;
    padding-top: 40px;
    padding-left: 50px;
}

.about__text {
    font-size: 24px;
    line-height: 64px;
    font-weight: bold;
}

/* フード */
.food {
    width: 100%;
    margin-bottom: 40px;
    background-image: url(../img/bg1.jpg);
    background-size: cover;
    background-position: center;
    padding: 60px 0;
}

.food__title__wrapper {
    text-align: center;
}

.food__title {
    font-size: 48px;
    text-align: center;
    margin-bottom: 40px;
    display: inline-block;
    line-height: 48px;
    border-bottom: 4px solid #000;
    font-family: 'Kaisei Opti', serif;
}

.food__list__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
}

.food__list {
    width: 30%;
    text-align: center;
}

.food__text {
    font-size: 32px;
}

.food__detail {
    font-size: 24px;
}

/* 新着グルメ(PHP) */
.arrival {
    width: 100%;
    margin-bottom: 100px;
}

.arrival__title__wrapper {
    text-align: center;
}

.arrival__title {
    font-size: 48px;
    text-align: center;
    margin-bottom: 60px;
    display: inline-block;
    line-height: 48px;
    border-bottom: 4px solid #000;
    font-family: 'Kaisei Opti', serif;
}

.arrival__list__wrapper {
    width: 100%;
}

.arrival__list {
    display: flex;
    align-items: flex-start;
    margin-bottom: 80px;
}

.arrival__list__line img {
    margin-bottom: 80px;
}

.arrival__img__wrapper {
    width: 30%;
    vertical-align: top;
    align-items: flex-start;
}

.arrival__img__wrapper img {
    height: 100%;
    object-fit: contain;
    vertical-align: top;
}

.arrival__text__body {
    width: 70%;
    padding-left: 30px;
}

.arrival__label {
    font-size: 24px;
    background: linear-gradient(transparent 75%, rgb(255, 245, 198) 75%);
}

.arrival__text__top {
    font-size: 36px;
    margin-bottom: 16px;
    padding-left: 16px;
}

.arrival__text {
    font-size: 20px;
    margin-bottom: 16px;
    padding-left: 16px;
}

.arrival__btn__wrapper {
    text-align: center;
}

.arrival__btn {
    background: rgb(0, 98, 255);
    width: 300px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    border: 5px solid rgb(255, 255, 255);
    text-align: center;
    padding: 4px 50px;
    margin: 40px auto 0;
    font-family: 'Kaisei Opti', serif;
}

.arrival__btn:hover {
    background: rgb(255, 255, 255);
    border: 5px solid rgb(0, 98, 255);
    color: rgb(0, 98, 255);
}

/* フッター */
.footer {
    width: 100%;
    height: 100px;
    text-align: center;
    background-image: url(../img/bg2.jpg);
    padding: 36px 0;
}

.footer__text {
    font-family: 'Yuji Boku', serif;
    font-size: 30px;
    color: rgb(0, 0, 0);
}

/* inview */
.js-fadeUp {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity .8s, transform .8s;
}

.js-fadeUp.is-inview {
    opacity: 1;
    transform: translateY(0);
    transition-delay: .6s;
}

.js-fadeUp.food1.is-inview {
    opacity: 1;
    transform: translateY(0);
    transition-delay: .4s;
}

.js-fadeUp.food2.is-inview {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 1.0s;
}

.js-fadeUp.food3.is-inview {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 1.6s;
}



/* 投稿用ページ */
.post {
    background-image: url(../img/bg1.jpg);
    background-position: center;
    padding: 100px 0;
}

.post__inner {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.post__text {
    font-size: 24px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 12px;
}

.post__input {
    width: 100%;
}

.post__btn {
    margin-top: 60px;
    width: 100px;
    height: 40px;
    font-size: 20px;
    border: 2px solid black;
}





/* カリキュラム用CSS */
/*コンテンツ全体に対する指定*/

.wrapper {
    margin: 0;
    padding: 0 4%;
}

.page_header {
    background-color: #000000;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    text-decoration: none;
    color: #ffffff;
}

.right_content {
    display: flex;
}

.login_info {
    margin-right: 20px;
    align-items: center;
    display: flex;
}

.login_info p {
    margin-right: 10px;
    font-size: 20px;
    color: #ffffff;
}

.header_logout_button {
    align-items: center;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
}

.header_login_button {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
}

.home_icon {
    color: #FFFFFF;
    font-size: 30px;
}

.page_footer {
    height: 70px;
    background-color: #E6E6E6;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    color: #ffffff;
    font-size: 10.5px;
}

/* upload.php */
.upload_content_form {
    width: 50%;
    margin: 6vh auto 0;
    padding-bottom: 10%;
}

.upload_content_label {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    background-color: #CCCCCC;
    border-radius: 40px;
    color: #ffffff;
}

.plus_icon {
    display: inline-block;
    font-size: 50px;
}

.upload_text {
    font-size: 30px;
    font-weight: bold;
}

.input_file {
    display: none;
}

.input_text {
    margin-top: 10px;
    width: 100%;
    border: 1px solid #E6E6E6;
    padding: 10px;
    height: 73px;
}

.upload_content_label img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 40px;
}

.input_text::placeholder {
    color: #E6E6E6;
}

.upload_submit {
    display: block;
    margin-top: 10px;
    border-radius: 18px;
    font-size: 18px;
    padding: 2px 30px;
    background: #F15A24;
    color: #ffffff;
    margin-left: auto;
}

/* show.php */
.content {
    width: 50%;
    margin: 6vh auto 0;
}

.main_content img {
    width: 100%;
    height: 350px;
    border-radius: 40px;
    object-fit: cover;
}

.main_content p {
    margin-top: 10px;
    width: 100%;
    color: #4D4D4D;
}

.button {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.edit_button {
    font-size: 18px;
    border-radius: 18px;
    padding: 5px 30px;
    background: #39B54A;
    text-decoration: none;
    color: #FFFFFF;
}

.delete_button {
    font-size: 18px;
    border-radius: 18px;
    padding: 5px 30px;
    background: #CCCCCC;
    margin-left: 10px;
    color: #FFFFFF;
}

/* edit.php */
.update_button {
    font-size: 18px;
    border-radius: 18px;
    padding: 5px 30px;
    background: #F15A24;
    color: #FFFFFF;
}

/* signup.php */
.signup_content {
    background-color: #DDDDDD;
    border-radius: 10px;
    width: 500px;
    height: 450px;
    margin: 50px auto;
    padding: 50px;
}

.signup_title {
    text-align: center;
}

.email_label,
.name_label,
.password_label {
    display: block;
    margin: 10px 0px;
}

input[type="email"],
input[type="text"],
input[type="password"] {
    display: block;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 6px;
    margin-bottom: 10px;
    padding: 10px;
}

input[type="email"]::placeholder,
input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: #999999;
}

.button_area {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.signup_button,
.login_button {
    background: #239bed;
    padding: 15px 0;
    width: 48%;
    color: #FFFFFF;
    letter-spacing: 0.5rem;
    text-indent: 0.5rem;
    border-radius: 30px;
}

.login_page_button,
.signup_page_button {
    text-align: center;
    padding: 15px 0;
    width: 48%;
    background: #000000;
    color: #FFFFFF;
    border-radius: 30px;
    text-decoration: none;
}


/* login.php */
.login_content {
    background-color: #DDDDDD;
    border-radius: 10px;
    width: 500px;
    height: 400px;
    margin: 50px auto;
    padding: 50px;
}

.login_title {
    text-align: center;
}

.login_button {
    border-radius: 30px;
    background: #239bed;
    padding: 15px 0;
    width: 48%;
    color: #FFFFFF;
    letter-spacing: 0.5rem;
    text-indent: 0.5rem
}

.signup_page_button {
    border-radius: 30px;
    text-align: center;
    padding: 15px 0;
    width: 48%;
    background: #000000;
    color: #FFFFFF;
    text-decoration: none;
}

.errors li {
    margin-top: 5px;
    color: #ec008c;
    text-align: center;
    list-style: none;
}

/* レスポンシブ */
@media (max-width: 900px) {

    /* upload.php */
    .upload_content_label {
        height: 355px;
    }

    .upload_content_form {
        width: 70%;
    }

    /* show.php */
    .content {
        width: 70%;
    }
}

@media (max-width: 600px) {

    /* upload.php */
    .upload_content_form {
        width: 90%;
    }

    /* show.php */
    .content {
        width: 90%;
    }

    /* signup.php */
    .signup_content {
        width: 70%;
    }

    .button_area {
        margin-top: 15px;
        flex-direction: column;
    }

    .signup_button {
        width: 100%;
        padding: 10px;
    }

    .login_page_button {
        width: 100%;
        text-align: center;
        margin-top: 5px;
        padding: 10px;
    }

    /* login.php */
    .login_content {
        width: 70%;
    }

    .login_button {
        width: 100%;
        padding: 10px;
    }

    .signup_page_button {
        text-align: center;
        width: 100%;
        margin-top: 5px;
        padding: 10px;
    }
}
